<%- include("partials/header.ejs") %>

<body>


    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/images/owl.png" alt="logo" width="200" height="auto">
        <h1 class="display-5 fw-bold text-body-emphasis">Bookwitter</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Bookwitter is a dynamic and user-centric platform designed for book enthusiasts around the world. 
            We provide a vibrant space where readers can share, discover, and explore a diverse array of book reviews. 
            Our mission is to foster a global community of literature lovers, offering a dedicated environment where members can: Share Opinions, Discover New Reads, Engage in Discussions.
            At Bookwitter, we believe in the power of literature to connect people. Our platform is crafted to encourage the exchange of ideas and recommendations, 
            helping readers engage deeply with their passion for books. Join us to be part of a community where your voice matters and your love for reading is celebrated.</p>
          
        </div>

        <div class="container px-4 py-5" id="hanging-icons">
            
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img width="auto" height="130" src="/assets/images/share.png" alt="owl reading a book">
                </div>
                <div>
                  <h3 class="fs-2 text-body-emphasis">Share Opinions</h3>
                  <p>Write and post reviews of their favorite books, contributing to a rich tapestry of perspectives.</p>
                  
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                  <img width="100" height="auto" src="/assets/images/owlreading.png" alt="owl reading a book">
                </div>
                <div>
                  <h3 class="fs-2 text-body-emphasis">Discover New Reads</h3>
                  <p>Explore reviews from fellow readers to find new titles and authors that match their interests.</p>                  
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <img width="auto" height="130" src="/assets/images/engage.png" alt="owl reading a book">
                </div>
                <div>
                  <h3 class="fs-2 text-body-emphasis">Engage in Discussions</h3>
                  <p>Participate in meaningful conversations about books, recommendations, and literary topics.</p>                  
                </div>
              </div>
            </div>
          </div>
      </div>













<%- include("partials/footer.ejs") %> 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> 
</body>
